<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contato</title>
    <link rel="stylesheet" href="/stylesheets/styleMenuDrop.css">
</head>
<body>
    <header>

        <nav class="dp-menu">
          <ul class="dp-ul">
            <div>
              <li><a href="/">Home</a></li>
            </div>
          </ul>
        </nav>
    
      </header>

      <main>
        <div class="principal">
            <h1>Feedback</h1>
            <input type="text" id="email" placeholder="Digite seu email...">
            <textarea name="comentario" id="caixaMaior" cols="50" rows="10"></textarea>


        </div>



      </main>
    
    
</body>
</html>