<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="shortcut icon" href="resouces/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/stylesheets/styleLogin.css">
</head>
<body>
    
    

    <div class="possicao">
        <p class="login"><strong>LOGIN</strong></p>
        <form>

            <div class="nome-senha">
                <label for="nome">Nome de usuário ou email:</label>
                <input type="text" name="nome" id="nome">
                <label for="nome">Senha:</label>
                <input type="password" name="senha" id="senha">
            </div>
            <div class="button-pai">
                <input type="button" value="Conectar-se" class="botao">
            </div>
        </form>

            <div class="links">
                <a href="" class="esqueciSenha">Esqueci a senha</a>
                <a href="cadastro.html" class="cadastrar">Cadastrar-se</a>
            </div>
    </div>

</body>
</html>