<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
    <link rel="shortcut icon" href="resouces/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/stylesheets/styleMenuDrop.css">
    <link rel="stylesheet" href="/stylesheets/styleMenu.css">

</head>

<body>



    <header>

        <nav class="dp-menu">
            <ul class="dp-ul">
                <div>
                    <li><a href="/">Home</a></li>
                    <li><a href="#">categorias</a>
                        <ul class="ulcat">
                            <li><a href="#">cat1</a></li>
                            <li><a href="#">cat2</a></li>
                            <li><a href="#">cat3</a></li>
                        </ul>

                    </li>

                    <li><a href="/listaDeDesejos">Lista de desejos</a></li>
                    <li><a href="#">Contato</a></li>
                </div>

                <li>
                    <div id="divBusca">
                        <div class="flex">
                            <input type="text" id="txtBusca" placeholder="Buscar..." /><br>
                            <button  type="submit" id="btnBusca"><!--<img src="../public/resources/lupa.png" alt="Imagem de lupa">-->Click</button>
                        </div>
                    </div>
                </li>
                </div>
                <div>
                    <li><a href="/cadastro">Cadastrar-se</a></li>
                    <li class="entrar"><a href="/login">Entrar </a></li>
                </div>
            </ul>
        </nav>

    </header>

    <main>

        <!--Tabela de jogos-->
        <table>
            <tr>
                <th>Nome</th>
                <th>Descrição</th>
                <th>Preço atual</th>
                <th>Data de inicialização</th>
                <th>Data de finalização</th>
            </tr>
            <tr>
                <td>Hogwarts Legacy</td>
                <td>Jogo de Harry Potter</td>
                <td>R$300</td>
                <td></td>
                <td></td>

            </tr>
            <tr>
                <td>Algun outro jogo</td>
                <td>Alguma outra descrição</td>
                <td>Algum outro preço</td>
                <td></td>
                <td></td>
            </tr>
            <tr>

        </table>

    </main>


</body>

</html>