<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
    <link rel="shortcut icon" href="resouces/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/stylesheets/styleMenu.css">
    <link rel="stylesheet" href="/stylesheets/styleMenuDrop.css">
    <link rel="stylesheet" href="/stylesheets/menunovo.css">
</head>

<body>
    <header>

        <nav class="dp-menu">
            <ul class="dp-ul">
                <div>
                    <li><a href="/">Home</a></li>
                    <li><a href="/listaDeDesejos">Lista de desejos</a></li>
                    <li><a href="#">Contato</a></li>
                </div>

                <li>
                    <div id="divBusca">
                        <div class="flex">
                            <input type="text" id="txtBusca" placeholder="Buscar..." /><br>
                            <button  type="submit" id="btnBusca"><!--<img src="../public/resources/lupa.png" alt="Imagem de lupa">-->Pesquisar</button>
                        </div>
                    </div>
                </li>
                </div>
                <div>
                    <li><a href="/cadastro">Cadastrar-se</a></li>
                    <li class="entrar"><a href="/login">Entrar </a></li>
                </div>
            </ul>
        </nav>

    </header>

    <main>

        <!--Tabela de jogos-->
        <table>
            <tr>
                <th>Nome</th>
                <th>Descrição</th>
                <th>Preço atual</th>
                <th>Data de inicialização</th>
                <th>Data de finalização</th>
            </tr>
            <tr>
                <td>Projeto Integrador</td>
                <td>Tem que fazer e entregar dia 2024/07/08</td>
                <td>Apresentação dia 2024/07/11</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Hogwarts Legacy</td>
                <td>Jogo de Harry Potter</td>
                <td>R$300</td>
                <td></td>
                <td></td>

            </tr>
            <tr>
                <td>Elden Ring</td>
                <td>Jogo vom para porra</td>
                <td>De graça</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Dragon Ball Sparking zer</td>
                <td>Não lançado</td>
                <td>Indefinido</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Projeto Integrador</td>
                <td>Tem que fazer e entregar dia 2024/07/08</td>
                <td>Apresentação dia 2024/07/11</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Hogwarts Legacy</td>
                <td>Jogo de Harry Potter</td>
                <td>R$300</td>
                <td></td>
                <td></td>

            </tr>
            <tr>
                <td>Elden Ring</td>
                <td>Jogo vom para porra</td>
                <td>De graça</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Dragon Ball Sparking zer</td>
                <td>Não lançado</td>
                <td>Indefinido</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Projeto Integrador</td>
                <td>Tem que fazer e entregar dia 2024/07/08</td>
                <td>Apresentação dia 2024/07/11</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Hogwarts Legacy</td>
                <td>Jogo de Harry Potter</td>
                <td>R$300</td>
                <td></td>
                <td></td>

            </tr>
            <tr>
                <td>Elden Ring</td>
                <td>Jogo vom para porra</td>
                <td>De graça</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Dragon Ball Sparking zer</td>
                <td>Não lançado</td>
                <td>Indefinido</td>
                <td></td>
                <td></td>
            </tr><tr>
                <td>Projeto Integrador</td>
                <td>Tem que fazer e entregar dia 2024/07/08</td>
                <td>Apresentação dia 2024/07/11</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Hogwarts Legacy</td>
                <td>Jogo de Harry Potter</td>
                <td>R$300</td>
                <td></td>
                <td></td>

            </tr>
            <tr>
                <td>Elden Ring</td>
                <td>Jogo vom para porra</td>
                <td>De graça</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Dragon Ball Sparking zer</td>
                <td>Não lançado</td>
                <td>Indefinido</td>
                <td></td>
                <td></td>
            </tr><tr>
                <td>Projeto Integrador</td>
                <td>Tem que fazer e entregar dia 2024/07/08</td>
                <td>Apresentação dia 2024/07/11</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Hogwarts Legacy</td>
                <td>Jogo de Harry Potter</td>
                <td>R$300</td>
                <td></td>
                <td></td>

            </tr>
            <tr>
                <td>Elden Ring</td>
                <td>Jogo vom para porra</td>
                <td>De graça</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Dragon Ball Sparking zer</td>
                <td>Não lançado</td>
                <td>Indefinido</td>
                <td></td>
                <td></td>
            </tr><tr>
                <td>Projeto Integrador</td>
                <td>Tem que fazer e entregar dia 2024/07/08</td>
                <td>Apresentação dia 2024/07/11</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Hogwarts Legacy</td>
                <td>Jogo de Harry Potter</td>
                <td>R$300</td>
                <td></td>
                <td></td>

            </tr>
            <tr>
                <td>Elden Ring</td>
                <td>Jogo vom para porra</td>
                <td>De graça</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Dragon Ball Sparking zer</td>
                <td>Não lançado</td>
                <td>Indefinido</td>
                <td></td>
                <td></td>
            </tr><tr>
                <td>Projeto Integrador</td>
                <td>Tem que fazer e entregar dia 2024/07/08</td>
                <td>Apresentação dia 2024/07/11</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Hogwarts Legacy</td>
                <td>Jogo de Harry Potter</td>
                <td>R$300</td>
                <td></td>
                <td></td>

            </tr>
            <tr>
                <td>Elden Ring</td>
                <td>Jogo vom para porra</td>
                <td>De graça</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Dragon Ball Sparking zer</td>
                <td>Não lançado</td>
                <td>Indefinido</td>
                <td></td>
                <td></td>
            </tr><tr>
                <td>Projeto Integrador</td>
                <td>Tem que fazer e entregar dia 2024/07/08</td>
                <td>Apresentação dia 2024/07/11</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Hogwarts Legacy</td>
                <td>Jogo de Harry Potter</td>
                <td>R$300</td>
                <td></td>
                <td></td>

            </tr>
            <tr>
                <td>Elden Ring</td>
                <td>Jogo vom para porra</td>
                <td>De graça</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Dragon Ball Sparking zer</td>
                <td>Não lançado</td>
                <td>Indefinido</td>
                <td></td>
                <td></td>
            </tr><tr>
                <td>Projeto Integrador</td>
                <td>Tem que fazer e entregar dia 2024/07/08</td>
                <td>Apresentação dia 2024/07/11</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Hogwarts Legacy</td>
                <td>Jogo de Harry Potter</td>
                <td>R$300</td>
                <td></td>
                <td></td>

            </tr>
            <tr>
                <td>Elden Ring</td>
                <td>Jogo vom para porra</td>
                <td>De graça</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Dragon Ball Sparking zer</td>
                <td>Não lançado</td>
                <td>Indefinido</td>
                <td></td>
                <td></td>
            </tr><tr>
                <td>Projeto Integrador</td>
                <td>Tem que fazer e entregar dia 2024/07/08</td>
                <td>Apresentação dia 2024/07/11</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Hogwarts Legacy</td>
                <td>Jogo de Harry Potter</td>
                <td>R$300</td>
                <td></td>
                <td></td>

            </tr>
            <tr>
                <td>Elden Ring</td>
                <td>Jogo vom para porra</td>
                <td>De graça</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Dragon Ball Sparking zer</td>
                <td>Não lançado</td>
                <td>Indefinido</td>
                <td></td>
                <td></td>
            </tr><tr>
                <td>Projeto Integrador</td>
                <td>Tem que fazer e entregar dia 2024/07/08</td>
                <td>Apresentação dia 2024/07/11</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Hogwarts Legacy</td>
                <td>Jogo de Harry Potter</td>
                <td>R$300</td>
                <td></td>
                <td></td>

            </tr>
            <tr>
                <td>Elden Ring</td>
                <td>Jogo vom para porra</td>
                <td>De graça</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Dragon Ball Sparking zer</td>
                <td>Não lançado</td>
                <td>Indefinido</td>
                <td></td>
                <td></td>
            </tr><tr>
                <td>Projeto Integrador</td>
                <td>Tem que fazer e entregar dia 2024/07/08</td>
                <td>Apresentação dia 2024/07/11</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Hogwarts Legacy</td>
                <td>Jogo de Harry Potter</td>
                <td>R$300</td>
                <td></td>
                <td></td>

            </tr>
            <tr>
                <td>Elden Ring</td>
                <td>Jogo vom para porra</td>
                <td>De graça</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Dragon Ball Sparking zer</td>
                <td>Não lançado</td>
                <td>Indefinido</td>
                <td></td>
                <td></td>
            </tr><tr>
                <td>Projeto Integrador</td>
                <td>Tem que fazer e entregar dia 2024/07/08</td>
                <td>Apresentação dia 2024/07/11</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Hogwarts Legacy</td>
                <td>Jogo de Harry Potter</td>
                <td>R$300</td>
                <td></td>
                <td></td>

            </tr>
            <tr>
                <td>Elden Ring</td>
                <td>Jogo vom para porra</td>
                <td>De graça</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Dragon Ball Sparking zer</td>
                <td>Não lançado</td>
                <td>Indefinido</td>
                <td></td>
                <td></td>
            </tr><tr>
                <td>Projeto Integrador</td>
                <td>Tem que fazer e entregar dia 2024/07/08</td>
                <td>Apresentação dia 2024/07/11</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Hogwarts Legacy</td>
                <td>Jogo de Harry Potter</td>
                <td>R$300</td>
                <td></td>
                <td></td>

            </tr>
            <tr>
                <td>Elden Ring</td>
                <td>Jogo vom para porra</td>
                <td>De graça</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Dragon Ball Sparking zer</td>
                <td>Não lançado</td>
                <td>Indefinido</td>
                <td></td>
                <td></td>
            </tr><tr>
                <td>Projeto Integrador</td>
                <td>Tem que fazer e entregar dia 2024/07/08</td>
                <td>Apresentação dia 2024/07/11</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Hogwarts Legacy</td>
                <td>Jogo de Harry Potter</td>
                <td>R$300</td>
                <td></td>
                <td></td>

            </tr>
            <tr>
                <td>Elden Ring</td>
                <td>Jogo vom para porra</td>
                <td>De graça</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Dragon Ball Sparking zer</td>
                <td>Não lançado</td>
                <td>Indefinido</td>
                <td></td>
                <td></td>
            </tr><tr>
                <td>Projeto Integrador</td>
                <td>Tem que fazer e entregar dia 2024/07/08</td>
                <td>Apresentação dia 2024/07/11</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Hogwarts Legacy</td>
                <td>Jogo de Harry Potter</td>
                <td>R$300</td>
                <td></td>
                <td></td>

            </tr>
            <tr>
                <td>Elden Ring</td>
                <td>Jogo vom para porra</td>
                <td>De graça</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Dragon Ball Sparking zer</td>
                <td>Não lançado</td>
                <td>Indefinido</td>
                <td></td>
                <td></td>
            </tr><tr>
                <td>Projeto Integrador</td>
                <td>Tem que fazer e entregar dia 2024/07/08</td>
                <td>Apresentação dia 2024/07/11</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Hogwarts Legacy</td>
                <td>Jogo de Harry Potter</td>
                <td>R$300</td>
                <td></td>
                <td></td>

            </tr>
            <tr>
                <td>Elden Ring</td>
                <td>Jogo vom para porra</td>
                <td>De graça</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Dragon Ball Sparking zer</td>
                <td>Não lançado</td>
                <td>Indefinido</td>
                <td></td>
                <td></td>
            </tr><tr>
                <td>Projeto Integrador</td>
                <td>Tem que fazer e entregar dia 2024/07/08</td>
                <td>Apresentação dia 2024/07/11</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Hogwarts Legacy</td>
                <td>Jogo de Harry Potter</td>
                <td>R$300</td>
                <td></td>
                <td></td>

            </tr>
            <tr>
                <td>Elden Ring</td>
                <td>Jogo vom para porra</td>
                <td>De graça</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Dragon Ball Sparking zer</td>
                <td>Não lançado</td>
                <td>Indefinido</td>
                <td></td>
                <td></td>
            </tr><tr>
                <td>Projeto Integrador</td>
                <td>Tem que fazer e entregar dia 2024/07/08</td>
                <td>Apresentação dia 2024/07/11</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Hogwarts Legacy</td>
                <td>Jogo de Harry Potter</td>
                <td>R$300</td>
                <td></td>
                <td></td>

            </tr>
            <tr>
                <td>Elden Ring</td>
                <td>Jogo vom para porra</td>
                <td>De graça</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Dragon Ball Sparking zer</td>
                <td>Não lançado</td>
                <td>Indefinido</td>
                <td></td>
                <td></td>
            </tr><tr>
                <td>Projeto Integrador</td>
                <td>Tem que fazer e entregar dia 2024/07/08</td>
                <td>Apresentação dia 2024/07/11</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Hogwarts Legacy</td>
                <td>Jogo de Harry Potter</td>
                <td>R$300</td>
                <td></td>
                <td></td>

            </tr>
            <tr>
                <td>Elden Ring</td>
                <td>Jogo vom para porra</td>
                <td>De graça</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Dragon Ball Sparking zer</td>
                <td>Não lançado</td>
                <td>Indefinido</td>
                <td></td>
                <td></td>
            </tr><tr>
                <td>Projeto Integrador</td>
                <td>Tem que fazer e entregar dia 2024/07/08</td>
                <td>Apresentação dia 2024/07/11</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Hogwarts Legacy</td>
                <td>Jogo de Harry Potter</td>
                <td>R$300</td>
                <td></td>
                <td></td>

            </tr>
            <tr>
                <td>Elden Ring</td>
                <td>Jogo vom para porra</td>
                <td>De graça</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Dragon Ball Sparking zer</td>
                <td>Não lançado</td>
                <td>Indefinido</td>
                <td></td>
                <td></td>
            </tr><tr>
                <td>Projeto Integrador</td>
                <td>Tem que fazer e entregar dia 2024/07/08</td>
                <td>Apresentação dia 2024/07/11</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Hogwarts Legacy</td>
                <td>Jogo de Harry Potter</td>
                <td>R$300</td>
                <td></td>
                <td></td>

            </tr>
            <tr>
                <td>Elden Ring</td>
                <td>Jogo vom para porra</td>
                <td>De graça</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Dragon Ball Sparking zer</td>
                <td>Não lançado</td>
                <td>Indefinido</td>
                <td></td>
                <td></td>
            </tr><tr>
                <td>Projeto Integrador</td>
                <td>Tem que fazer e entregar dia 2024/07/08</td>
                <td>Apresentação dia 2024/07/11</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Hogwarts Legacy</td>
                <td>Jogo de Harry Potter</td>
                <td>R$300</td>
                <td></td>
                <td></td>

            </tr>
            <tr>
                <td>Elden Ring</td>
                <td>Jogo vom para porra</td>
                <td>De graça</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Dragon Ball Sparking zer</td>
                <td>Não lançado</td>
                <td>Indefinido</td>
                <td></td>
                <td></td>
            </tr><tr>
                <td>Projeto Integrador</td>
                <td>Tem que fazer e entregar dia 2024/07/08</td>
                <td>Apresentação dia 2024/07/11</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Hogwarts Legacy</td>
                <td>Jogo de Harry Potter</td>
                <td>R$300</td>
                <td></td>
                <td></td>

            </tr>
            <tr>
                <td>Elden Ring</td>
                <td>Jogo vom para porra</td>
                <td>De graça</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Dragon Ball Sparking zer</td>
                <td>Não lançado</td>
                <td>Indefinido</td>
                <td></td>
                <td></td>
            </tr><tr>
                <td>Projeto Integrador</td>
                <td>Tem que fazer e entregar dia 2024/07/08</td>
                <td>Apresentação dia 2024/07/11</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Hogwarts Legacy</td>
                <td>Jogo de Harry Potter</td>
                <td>R$300</td>
                <td></td>
                <td></td>

            </tr>
            <tr>
                <td>Elden Ring</td>
                <td>Jogo vom para porra</td>
                <td>De graça</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Dragon Ball Sparking zer</td>
                <td>Não lançado</td>
                <td>Indefinido</td>
                <td></td>
                <td></td>
            </tr><tr>
                <td>Projeto Integrador</td>
                <td>Tem que fazer e entregar dia 2024/07/08</td>
                <td>Apresentação dia 2024/07/11</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Hogwarts Legacy</td>
                <td>Jogo de Harry Potter</td>
                <td>R$300</td>
                <td></td>
                <td></td>

            </tr>
            <tr>
                <td>Elden Ring</td>
                <td>Jogo vom para porra</td>
                <td>De graça</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Dragon Ball Sparking zer</td>
                <td>Não lançado</td>
                <td>Indefinido</td>
                <td></td>
                <td></td>
            </tr><tr>
                <td>Projeto Integrador</td>
                <td>Tem que fazer e entregar dia 2024/07/08</td>
                <td>Apresentação dia 2024/07/11</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Hogwarts Legacy</td>
                <td>Jogo de Harry Potter</td>
                <td>R$300</td>
                <td></td>
                <td></td>

            </tr>
            <tr>
                <td>Elden Ring</td>
                <td>Jogo vom para porra</td>
                <td>De graça</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Dragon Ball Sparking zer</td>
                <td>Não lançado</td>
                <td>Indefinido</td>
                <td></td>
                <td></td>
            </tr><tr>
                <td>Projeto Integrador</td>
                <td>Tem que fazer e entregar dia 2024/07/08</td>
                <td>Apresentação dia 2024/07/11</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Hogwarts Legacy</td>
                <td>Jogo de Harry Potter</td>
                <td>R$300</td>
                <td></td>
                <td></td>

            </tr>
            <tr>
                <td>Elden Ring</td>
                <td>Jogo vom para porra</td>
                <td>De graça</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Dragon Ball Sparking zer</td>
                <td>Não lançado</td>
                <td>Indefinido</td>
                <td></td>
                <td></td>
            </tr><tr>
                <td>Projeto Integrador</td>
                <td>Tem que fazer e entregar dia 2024/07/08</td>
                <td>Apresentação dia 2024/07/11</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Hogwarts Legacy</td>
                <td>Jogo de Harry Potter</td>
                <td>R$300</td>
                <td></td>
                <td></td>

            </tr>
            <tr>
                <td>Elden Ring</td>
                <td>Jogo vom para porra</td>
                <td>De graça</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Dragon Ball Sparking zer</td>
                <td>Não lançado</td>
                <td>Indefinido</td>
                <td></td>
                <td></td>
            </tr><tr>
                <td>Projeto Integrador</td>
                <td>Tem que fazer e entregar dia 2024/07/08</td>
                <td>Apresentação dia 2024/07/11</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Hogwarts Legacy</td>
                <td>Jogo de Harry Potter</td>
                <td>R$300</td>
                <td></td>
                <td></td>

            </tr>
            <tr>
                <td>Elden Ring</td>
                <td>Jogo vom para porra</td>
                <td>De graça</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Dragon Ball Sparking zer</td>
                <td>Não lançado</td>
                <td>Indefinido</td>
                <td></td>
                <td></td>
            </tr><tr>
                <td>Projeto Integrador</td>
                <td>Tem que fazer e entregar dia 2024/07/08</td>
                <td>Apresentação dia 2024/07/11</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Hogwarts Legacy</td>
                <td>Jogo de Harry Potter</td>
                <td>R$300</td>
                <td></td>
                <td></td>

            </tr>
            <tr>
                <td>Elden Ring</td>
                <td>Jogo vom para porra</td>
                <td>De graça</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Dragon Ball Sparking zer</td>
                <td>Não lançado</td>
                <td>Indefinido</td>
                <td></td>
                <td></td>
            </tr><tr>
                <td>Projeto Integrador</td>
                <td>Tem que fazer e entregar dia 2024/07/08</td>
                <td>Apresentação dia 2024/07/11</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Hogwarts Legacy</td>
                <td>Jogo de Harry Potter</td>
                <td>R$300</td>
                <td></td>
                <td></td>

            </tr>
            <tr>
                <td>Elden Ring</td>
                <td>Jogo vom para porra</td>
                <td>De graça</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Dragon Ball Sparking zer</td>
                <td>Não lançado</td>
                <td>Indefinido</td>
                <td></td>
                <td></td>
            </tr>
            

        </table>

    </main>


</body>

</html>