*{
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

/* Parte de cima da página */
header{
    height: 193px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

#iconLogo{
    width: 13vw;
    height: 25vh; 
    margin-left: 10px;
    margin-top: 10px;
}

.cantoDireito{
    align-self: flex-start;
    display: flex;
    height: 20vh;
    width: 15vw;
    flex-direction: column;
    justify-content: space-around;
    align-items:baseline;
    margin: 2vh -5vw 0 0;
}

.lista{
    font-size: 20px;
    width: 10vw;
}

#iconPessoa{
    width: 50%;
    
}


/* Configuração da tabela */
th{
    width: 50px;
    height: 50px;
}

td{
    width: 200px;
    font-size: 20px;
}

table{
    position: absolute;
    left: 16vw;
    top: 40vh;
    margin: 5vh;
}

/* Configuração da caixa de pesquisa */

#divBusca {
    display: flex;
}

#divBusca input {
    width: 250px;
    height: 17.5px;
    border-radius: 4px;
}

#btnBusca {
    height: 21px;
    width: 35px;
    overflow-y: hidden;
    border-radius: 4px;
}

#btnBusca img{
    width: 60%;
}

.categorias{
    position: absolute;
    top: 36vh;
    left: 1vh;
    font-size: 35px;
}