*{
    margin: 0px;
    padding: 0px;
}

.informacoes input,label,.fimCadastro{
    margin: 15px;
    font-size: 25px;
}

.fimCadastro{
    margin: 25px;
    position: relative;
    left: 15%;
    height: 45px;
}

.possicao{
    position: absolute;
    left: 35vw;
    top: 18vh;
}

.cadastre-se{
    font-size: 40px;
    position: relative;
    left: 2.5vw ;
    bottom: 8vh;
}
