*{
    margin: 0px;
    padding: 0px;
}

/* Parte de cima da página */
.tarja{
    position: absolute;
    height: 193px;
    
}

.nomeDoProjeto img{

}

.lista{
    position: absolute;
    left: 89vw;
    bottom: 8vh;
    font-size: 20px;
    width: 150px;
}


/* Configuração da tabela */
th{
    width: 50px;
    height: 50px;
}

td{
    width: 200px;
    font-size: 20px;
}

table{
    position: absolute;
    left: 16vw;
    top: 33vh;
    margin: 5vh;
}

/* Configuração da caixa de pesquisa */

#divBusca {
    position: absolute;
    left: 70vw ;

}

#divBusca input {
    width: 200px;
    height: 15px;
}

#btnBusca {
    height: 21px;
    position: relative;
    left: 103%;
    bottom: 20px;
}

.categorias{
    position: absolute;
    top: 30vh;
    left: 1vh;
    font-size: 35px;
}
 
.tarja img{
    width: 10%;
    position: relative;
    left: 90vw;
    bottom: 21vh;
    
}
