*{
    margin: 0px;
    padding: 0px;
}

label,input,a{
    margin: 15px;
    
}

.possicao{
    position: absolute;
    left: 41vw;
    top: 25vh;
}

.botao{
    position: relative;
    left: 21%;
}
