/* Parte de cima da página */
.tarja{
    background-color: white;
    position: absolute;
    top: 0%;
    left: 0%;
    height: 193px;
    width: 1500px;
}

.nomeDoProjeto{
    background-color: black;
    color: white;
    width: 150px;
    height: 150px;
    position: absolute;
    top: 3%;
    left: 1%;
    z-index: 1;
    text-align: center;   
}

.lista{
    color: blue;
    position: absolute;
    left: 80%;
    font-size: 20px;

}


/* Configuração da tabela */
th{
    width: 50px;
    height: 50px;
}

td{
    width: 200px;
    font-size: 20px;
}

table{
    position: absolute;
    left: 12%;
    top: 33%;
}

/* Configuração da caixa de pesquisa */

#divBusca {
    position: absolute;
    right: 20%;
    top: 20%;

}

#divBusca input {
    width: 200px;
    height: 15px;
}

#btnBusca {
    height: 21px;
}


  
 

