/* Reset de estilos padrão */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

/* Estilo para o cabeçalho */
header {
    background-color: #333;
    color: #fff;
    padding: 10px;
}


/* Estilo para o campo de busca */
#divBusca {
    margin-left: 20px;
}

#divBusca input[type="text"] {
    padding: 8px;
    border: none;
    border-radius: 5px;
}

#divBusca #btnBusca {
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    background-color: #555;
    color: #fff;
    cursor: pointer;
}

#divBusca #btnBusca:hover {
    background-color: #777;
}

/* Estilo para a tabela de jogos */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table th,
table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

table th {
    background-color: #333;
    color: #fff;
}
