:root{
    --main-bg-color: rgb(255, 255, 255);
    --sec-bg-color: rgb(220, 220, 220) ;
    --cor-hover: rgb(26, 149, 250);
}

*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: var(--main-bg-color);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

input{
    margin: 25px;
    border-radius: 0.5rem;
    border: none;
}

.possicao{
    background-color: var(--sec-bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2rem;
    border-radius: 1rem;
    font-size: 25px;
}

.button-pai{
    display: flex;
    justify-content: center;
}

.botao{
    position: relative;
    margin: 5px;
    width: 175px;
    height: 45px;
    border-radius: 1rem;
    background-color: var(--main-bg-color);
    border: none;
    top: 10px;
}

.botao:hover{
    background-color: var(--cor-hover);
}

.links{
    position: relative;
    display: flex;
    flex-direction: column;
    top: 20px;
}

.cadastrar,.esqueciSenha{
    color: black;
    text-decoration: none;
}

.cadastrar{
    align-self: center;
}

.cadastrar:hover,.nome-senha input:hover,.botao:hover,.esqueciSenha:hover{
    transition: 0.5s;
    transform: scale(1.1);
}

.nome-senha{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.nome-senha input{
    width: 250px;
    height: 25px;
    margin: 2.5px;
}

.login{
    margin: 1rem;
    font-size: 50px;
}
