:root{
    --main-bg-color: rgb(92, 92, 92);
    --sec-bg-color: rgb(141, 141, 141) ;
    --cor-hover: rgb(33, 107, 26);
}

*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: var(--main-bg-color);
}

main{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 96.3vh;
}

/* Configuração da tabela */
th{
    padding: 5px;
    width: 50px;
    height: 50px;
}

td{
    padding: 5px;
    width: 200px;
    font-size: 20px;
    text-align: center;
}

table{
    background-color: var(--sec-bg-color);
    padding: 0.75rem;
    border-radius:1rem ;
}

/* Configuração da caixa de pesquisa */

#divBusca .flex{
    display: flex;
}

#divBusca input {
    width: 30vw;
    height: 17.5px;
    border-radius: 4px;
    border: none;
}

#btnBusca {
    height: 18px;
    width: 35px;
    overflow-y: hidden;
    border-radius: 0.30rem;
    border: none;
}

#btnBusca img{
    width: 30%;
}
