:root{
    --main-bg-color: rgb(92, 92, 92);
    --sec-bg-color: rgb(141, 141, 141) ;
    --cor-hover: rgb(33, 107, 26);
}

*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: var(--main-bg-color);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

input{
    margin: 25px;
    border-radius: 1rem;
    border: none;
}

.possicao{
    background-color: var(--sec-bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2rem;
    border-radius: 1rem;
    font-size: 25px;
}

.button-pai{
    display: flex;
    justify-content: center;
}

.botao{
    margin: 5px;
    width: 175px;
    height: 45px;
    border-radius: 1rem;
    background-color: var(--main-bg-color);
    border: none;
}

.botao:hover{
    transition: 0.1s;
    background-color: var(--cor-hover);
    width: 185px;
    height: 55px;
    margin: 0px;
}

.links{
    display: flex;
    flex-direction: column;
}

.cadastrar{
    position: relative;
    left: 1rem;
}

.nome-senha{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.nome-senha input{
    width: 250px;
    height: 25px;
    margin: 2.5px;
}

.nome-senha input:hover{
    margin: 0px;
    width: 255px;
    height: 30px;
}

.login{
    margin: 1rem;
    font-size: 50px;
}
