/* Menu dropdown */
:root {
    --cor-Fundo: rgb(0, 0, 0);
    --cor-hover: rgb(33, 107, 26);
    --cor-botao: rgb(39, 213, 24);
    --cor-primaria: white;
}

.dp-menu {
    display: flex;
    width: 100vw;
    height: 4vw;
    flex-direction: row;
    justify-content: center;
    background-color: var(--cor-Fundo);
}

.dp-menu .dp-ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.dp-menu ul {
    background-color: var(--cor-Fundo);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin: 0;
}

.dp-menu ul li {
    display: inline-block;
    position: relative;
    padding: 15px;
    border-radius: 10px;
}

.dp-menu ul li a {
    color: var(--cor-primaria);
    text-decoration: none;
    margin: 11.5px;
    transition: background .3s;
}

.dp-menu ul li a:hover {
    padding: 1.5px;
    margin: 10px;
    background-color: var(--cor-hover);
}

/* Sub menu */
.dp-menu ul .ulcat {
    display: none;
    position: absolute;
    left: 0;
    top: 100%;
    background-color: var(--cor-Fundo);
    list-style-type: none;
    padding: 0;
    margin: 0;
    border-radius: 5px;
}

.dp-menu ul li:hover .ulcat {
    display: block;
}

.dp-menu ul .ulcat li a {
    display: block;
    padding: 10px;
    background-color: var(--cor-Fundo);
    color: var(--cor-primaria);
}

/* Alinhar o formulário */
.form-container {
    display: flex;
    align-items: center;
}

#games {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    padding: 10px;
    font-size: 14px;
    border: 1px solid var(--cor-hover);
    border-radius: 5px;
    background-color: rgb(0, 0, 0); 
    color: white; 
    cursor: pointer;
    width: 200px;
}

#games option {
    padding: 10px;
    background-color: var(--cor-Fundo); 
    color: white; 
}

#games:hover, #games:focus {
    outline: none;
    border-color: var(--cor-hover); 
    box-shadow: 0 0 5px rgba(33, 107, 26, 0.5);
}

#idd {
    background-color: var(--cor-Fundo);
    color: var(--cor-primaria);
    border: 1px solid var(--cor-hover);
    margin-left: 10px;
}

#idd:hover {
    background-color:  var(--cor-hover);
}

/* Configuração da caixa de pesquisa */

#divBusca input {
    width: 30vw;
    height: 19px;
    border-radius: 4px;
    border: none;
}

#btnBusca {
    position: relative;
    height: 20px;
    width: 70px;
    overflow-y: hidden;
    border-radius: 0.30rem;
    border: none;
    right: 73px;
    top: 2px;
}

#btnBusca img {
    position: relative;
    width: 30%;
    bottom: 4px;
} 

#btnBusca:hover {
    background-color: var(--cor-botao);
    opacity: 0.8;
    transition: .4s;
}

/* Estilizando a imagem de logout */
.dp-menu ul li .logout-icon {
    width: 40px; 
    height: 40px; 
    margin-right: 5px;
    vertical-align: middle; 
}

.dp-menu ul li a[href="../utils/logout.php"]:hover {
    background-color: transparent;
    padding: 15px; 
    margin: 11.5px;
}
