:root{
    --main-bg-color: rgb(255, 255, 255);
    --sec-bg-color: rgb(220, 220, 220) ;
    --cor-hover: rgb(26, 149, 250);
}

*{
    margin: 0px;
    padding: 0px;
}

.informacoes {
    margin-top: 10px;
}

.informacoes input,label,.fimCadastro{
    margin: 1rem;
    font-size: 25px;
    border: none;
    border-radius: 1rem;
}

.fimCadastro{
    background-color: var(--main-bg-color);
    height: 3rem;
    width: 15rem;
    align-self: center;
}

.fimCadastro:hover{
    transition: 0.5s;
    transform: scale(1.1);
    background-color: var(--cor-hover);
}

input:hover{
    transition: 1s;
    transform: scale(1.1);
}

main{
    background-color: var(--main-bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.possicao{
    border-radius: 1rem;
    padding: 1.5rem;
    background-color: var(--sec-bg-color);
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.cadastre-se{

    align-self: center;
    font-size: 40px;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
}