:root{
  --main-bg-color: rgb(255, 255, 255);
  --sec-bg-color: rgb(220, 220, 220) ;
  --cor-hover: rgb(33, 107, 26);
}

* {
  margin: 0px;
  padding: 0px;
}

body{
  background-color: var(--main-bg-color);
}

main{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 96.3vh;
}

/* Configuração da Tabela */
    table {
      background-color: var(--sec-bg-color);
      border-radius: 1rem;
      padding: 2rem;
      text-align: justify;
      width: 65vh;
      list-style: none;
      display: flex;
      justify-content: center;
    }

    tr {
      width: 100%;
      font-size: 20px;
    }

    .tdnome{
      display: flex;
      justify-content: center;
    }

    /* Estilo para o botão de excluir */
    .botaoExcluir {
      display: none;
      background: none;
      border: none;
      cursor: pointer;
    }

    .botaoExcluir img {
      width: 20px;
    }

    /* Estilo quando o mouse passa sobre o item de lista */
    li:hover .botaoExcluir {
      display: inline-block;
    }

    /* Estilo para a lista e os itens de lista */
    ul {
      list-style-type: none;
      padding: 0;
    }

    li {
      margin: 5px 0;
    }