:root{
    --main-bg-color: rgb(255, 255, 255);
    --sec-bg-color: rgb(255, 255, 255) ;
}

*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: var(--main-bg-color);
    overflow-x: hidden;
}

main{
    margin-top: 20px;
    align-items: center;
    justify-content: center;
    height: 96.3vh;
}

